USE [master]
GO
/****** Object:  Database [EMP_DEPT_DB]    Script Date: 05-04-2025 6.31.53 PM ******/
CREATE DATABASE [EMP_DEPT_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMP_DEPT_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMP_DEPT_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMP_DEPT_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMP_DEPT_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMP_DEPT_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMP_DEPT_DB]
GO
/****** Object:  Table [dbo].[department]    Script Date: 05-04-2025 6.31.53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[dept_id] [varchar](10) NULL,
	[dept_name] [varchar](50) NULL,
	[dept_location] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 05-04-2025 6.31.53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[emp_id] [int] NOT NULL,
	[emp_name] [varchar](50) NULL,
	[emp_salary] [decimal](10, 2) NULL,
	[emp_deptId] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[department] ([dept_id], [dept_name], [dept_location]) VALUES (N'D1', N'DEVELOPMENT', N'CALIFORNIA')
INSERT [dbo].[department] ([dept_id], [dept_name], [dept_location]) VALUES (N'D2', N'MARKETING', N'MUMBAI')
INSERT [dbo].[department] ([dept_id], [dept_name], [dept_location]) VALUES (N'D3', N'ACCOUNTS', N'NEW YORK')
GO
INSERT [dbo].[employee] ([emp_id], [emp_name], [emp_salary], [emp_deptId]) VALUES (1111, N'STEVE', CAST(35000.00 AS Decimal(10, 2)), N'D1')
INSERT [dbo].[employee] ([emp_id], [emp_name], [emp_salary], [emp_deptId]) VALUES (1112, N'ADAM', CAST(28000.00 AS Decimal(10, 2)), N'D2')
INSERT [dbo].[employee] ([emp_id], [emp_name], [emp_salary], [emp_deptId]) VALUES (1113, N'JOHN', CAST(50000.00 AS Decimal(10, 2)), N'D3')
GO
USE [master]
GO
